<!DOCTYPE html>
<html manifest="appcache.appcache">
    <head>
        <title>Mantl</title>
        <style>
          .login_panel {
             position: fixed; 
             bottom: 40px;
             right: 40px;
           }
         </style>

        <link href="styles/app.css" rel="stylesheet"/>
        <link href="styles/openam.css" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="images/favicon.ico"/>
    </head>
    <body>
      <script type="text/javascript" src="scripts/main.js"></script>
      <script type="text/javascript" src="scripts/lib.js"></script>
      <script type="text/javascript" src="scripts/openam.js"></script>

<script language="JavaScript" type="text/javascript">
 var openam_logout = "{{ env "OPENAM_LOGOUT" }}"
 window.addEventListener('load', openam, false); 
 window.addEventListener('load', openam_menu, false);
</script>

<script>require('./lib')(Elm.WebUI)</script>

    </body">
</html>
